version: '3.8' #docker-compose version

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  spring-backend:
    build:
      context: ./bend/uek223-gruppe2-backend/spring_backend
      dockerfile: Dockerfile
    container_name: uek223-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - '8080:8080'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - spring-network

  react-frontend:
    build:
      context: ./fend/uek223-gruppe2-frontend/react_frontend
      dockerfile: Dockerfile
    container_name: uek223-frontend
    ports:
      - '3000:80'
    depends_on:
      - spring-backend
    networks:
      - spring-network

networks:
  spring-network:
    driver: bridge

volumes:
  postgres_data:
